<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OSU STATUS | User Search</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrap card_wrap">
        <section class="form_section">
            <article>
                <form for="user" action="/user/info" method="get" class="userForm" id="userForm">
                    <input type="hidden" name="mode" id="modes">
                    <input type="text" name="user" id="user" placeholder="User Nickname" autocomplete="off">
                    <button type="submit">Search</button>
                </form>
            </article>
        </section>
        <div class="recent_box" id="recent_box" style="width:460px;">
            <span style="margin:0; color:#fff">최근 검색 유저 : </span>
        </div>
    </div>
</body>
<script>
    function getCookie(name) {
        var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value ? value[2] : null;
    }

    if (getCookie("userName") != null) {
        let user1 = document.createElement("a");
        let box = document.getElementById("recent_box");
        user1.href = "/user/info?user=" + getCookie("userName");
        user1.innerHTML = getCookie("userName");
        user1.setAttribute("class", "recent");

        box.appendChild(user1);
    }

    if (getCookie("userName2") != null) {
        let user2 = document.createElement("a");
        let box = document.getElementById("recent_box");
        user2.href = "/user/info?user=" + getCookie("userName2");
        user2.innerHTML = getCookie("userName2");
        user2.setAttribute("class", "recent");

        box.appendChild(user2);
    }

    if (getCookie("userName3") != null) {
        let user3 = document.createElement("a");
        let box = document.getElementById("recent_box");
        user3.href = "/user/info?user=" + getCookie("userName3");
        user3.innerHTML = getCookie("userName3");
        user3.setAttribute("class", "recent");

        box.appendChild(user3);
    }
</script>

</html>