<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrap card_wrap">
        <section class="form_section">
            <article>
                <form for="user" action="/userpage/info" method="get" class="userForm" id="userForm">
                    <input type="hidden" name="mode" id="modes">
                    <input type="text" name="user" id="user" placeholder="User Nickname" autocomplete="off">
                    <button type="submit">Search</button>
                </form>
            </article>
        </section>
    </div>
</body>
</html>