@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

*{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #1a1a1a;
    font-family: 'Exo 2', sans-serif;
}

body{
    background-color:#1c1719;
}

.wrap{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_section{
    margin-top:50px;
}

.recent_box{
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
}

.recent{
    color:#fff;
    margin:0;
    margin-left:15px;
    font-weight: bold;
    transition:all 0.5s;
}

.recent:hover{
    color:rgb(184, 184, 184);
    transform:scale(1.05);
    transition:all 0.5s;
}

.userForm{
    width:450px;
    height: 40px;
    border:2px solid #1a1a1a;
    border-radius: 24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    background-color:#fff;
}

form > input{
    width:300px;
    height:24px;
    font-size:16px;
    margin:0;
    background:none;
    border:none;
    outline: none;
    text-align: left;
    padding:5px 20px;
    border-radius: 24px;
}

form > button{
    width:70px;
    height:100%;
    outline: none;
    margin:0;
    background: none;
    border:none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
    transition:all .3s;
}

form > button:hover{
    background-color: rgba(0,0,0,0.7);
    color:#fff;
}

.modeBox{
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: baseline;
}

.modeSelect{
    color:#fff;
    cursor: pointer;
    font-size: 24px;
    display:block;
    margin:0;
    margin-left:35px;
    transition:all 0.3s;
}

.modeSelect:hover{
    color:#666;
    transform:scale(1.05);
    transition:all 0.3s;
}

.modeSelect:first-child{
    margin-left:0;
}

.user_info{
    margin:0 auto;
    width:1200px;
    display:flex;
    margin-top:50px;
    padding:30px 20px;
    box-shadow: 0px 2px 4px 0px hsla(0,0%,0%,0.5);
    background-color:#2b2227;
}

.user_info span{
    color:#fff;
}

.user_info span small{
    color:#fff;
}

.info_wrap{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left:50px;
    width:300px;
}

.info_wrap > span{
    text-align: left;
    font-size:16px;
    margin:0;
    margin-top:10px;
    font-size:20px;
    color:#fff;
}

.info_wrap > span:first-child{
    margin-top:0;
}

.rank_wrap{
    width:200px;
    justify-self: left;
    margin:0;
}

.rank_wrap > div > img{
    margin-bottom:12px;
    border-radius: 32px;
}

.rank_wrap > div{
    display:flex;
    justify-content: left;
    margin:0;
}

.rank_wrap > div > span{
    text-align: left;
    width:100px;
    margin:0;
}

#nickname{
    font-size:42px;
}

.other_wrap > .other_pp{
    display:flex;
    flex-direction: column;
}

.other_pp > span{
    font-size:24px;
}
.footer{
    color:#fff;
}
.link{
    transition:all 0.2s;
    color:#fff;
}

.link:hover{
    border-bottom:1px solid #fff;
}

.footer{
    margin-top:50px;
    margin-bottom:50px;
}

#mode{
    height:100%;
    background:none;
    outline: none;
    border:none;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    cursor: pointer;
    width:120px;
    text-align: center;
    text-align-last: center;
}

.player_rank{
    font-size:36px;
}

.rank_info{
    position: absolute;
    bottom:0;
    text-align: left;
    width:100%;
}

/* best section */

.state{
    width:1200px;
    display:grid;
    grid-template-columns: repeat(12, 90px);
    grid-column-gap: 10px;
}

.overlay{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.3s;
    z-index: 11;
}

.song_info{
    position: relative;
    height:190px;
    margin:20px 0px 20px 0px;
    transition:all 0.3s;
    z-index: 10;
    overflow: hidden;
    border-radius: 6px;
    border:thick double rgb(207, 207, 207);
}

.song_info:nth-child(odd){
    grid-column: 1/7;
}

.song_info:nth-child(even){
    grid-column: 7/13;
}

.song_info:hover{
    transform:scale(1.05);
    transition:all 0.3s;
}

.song_info:hover .overlay{
    background-color: rgba(0,0,0,0.7);
}

.song_wrap{
    position: relative;
    z-index: 999;
    width:100%;
    height:100%;
    display:flex;
}

.score_pp{
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items: baseline;
    margin:0;
    margin-top:6px;
}

.pp{
    margin:0;
    font-size:30px;
    color:rgb(224, 46, 144) !important;
}

.modsz{
    font-size:24px;
    color:#fff;
}

.date-wrap{
    width:100%;
    margin:0;
    display:flex;
    justify-content: flex-start;
}

.date{
    margin:0;
}

.rank_date{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:65px;
    margin-top:5px;
}

.rank{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

.rank > span{
    position: relative;
    top:0;
    display:block;
    height:65px;
    width:65px;
    line-height: 65px;
    font-size:65px;
    margin:0;
    letter-spacing: -15px;
    left:-7.5px;
}

.judge{
    display:flex;
    width:100%;
    margin:0;
    margin-top:15px;
}

.judge > div{
    display:flex;
    flex-direction: column;
    margin:0;
    margin-left:12px;
}

.judge > div:first-child{
    margin-left:0;
}

.judge > div > small{
    margin:0;
    text-align: left;
    color:#fff;
    font-size: 16px;
    border-bottom: 4px solid rgba(255,255,255,0.5);
}

.judge > div > span {
    color:#fff;
    text-align:left;
    margin:0;
    font-size:20px;
}

.song_diff{
    display:flex;
    flex-direction: column;
    margin:0;
    width:100%;
}

.song_diff span{
    color:#fff;
}

.song_diff_box{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.song_title{
    margin:0;
    font-size:24px;
    width:400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.diff{
    margin:0;
    font-size:20px;
}

.popup{
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width:100vw;
    height:100%;
    background-color:rgba(0,0,0,0.3);
}

.hidden{
    display:none;
}

.windowzz{
    width:650px;
    height:400px;
    background-color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.closeBtn{
    position: absolute;
    top:10px;
    right:15px;
    cursor: pointer;
}

#inputScore{
    border:1px solid #000;
}

#calculatedPP{
    color:rgb(224, 46, 144);
    font-size:36px;
    margin-top:25px;
}